<div class="uk-width-1-1">
  <div class="uk-container">
    <h1 class="uk-margin-medium uk-text-center uk-text-warning">401 Unauthorized</h1>
    <p class="uk-text-large uk-text-warning">認証が必要です</p>
    <%= link_to '開催履歴へ移動する', events_path, class: 'uk-button uk-button-primary' %>
  </div>
</div>
